.main{
    width: 50%;
    height: 600px;
    border: 1px solid black;
    margin: auto;
    
    box-shadow: 10px 10px 8px 10px #888888;
   
}
thead{
    background: gray;
    padding: 15px;
}
.insidemain{
    justify-content: center;
    text-align: center;
}
.table{
    width: 100%;
    border-collapse: collapse;
    
}


  td,
  th {
  
    text-align: left;
    padding: 10px;
  }
  thead {
    border: 1px solid blue;
    background-color: grey;
    gap: 40px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover{
    background-color: #ddd;
    cursor: pointer;
  }
  .time{
    font-size: 12px;
    
    
  }
 
  