<!-- <p>dialog-box works!</p>
<div class="main">
    <div class="insidemain">
        <h3>Recently Generated Reports</h3>
       <h3></h3>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Report Name</th>
            <th>Dowload</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="date">22-07-2022 <div class="time">16:02 PM</div></td>
            <td>APP_URL_USAGE_(Exclusive_Half_Days)_3_6_2021_3_31_2021_csv</td>
            <td>uuuuuuuuu</td>
        </tr>
        <tr>
            <td>22-07-2022 <div class="time">16:02 PM</div></td>
            <td>APP_URL_USAGE_3_6_2021_3_31_2021_csv</td>
            <td>uuuuuuuuu</td>
        </tr>
        <tr>
            <td>22-07-2022 <div class="time">16:02 PM</div></td>
            <td>APP_URL_USAGE_(Exclusive_Half_Days)_3_6_2021_3_31_2021_csv</td>
            <td>uuuuuuuuu</td>
        </tr>
    </tbody>
    </table>
</div> -->
