<div class="main">
  <div class="insidemain">
    <div style="margin: auto">Recently Generated Reports</div>
    <div class="navIcons">
      <div><fa-icon class="icon" [icon]="faFilter"></fa-icon></div>
      <div><fa-icon class="icon" [icon]="faRectangleXmark"></fa-icon></div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Date</th>
        <th>Report Name</th>
        <th>Download</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="date">
          22-07-2022
          <div class="time">16:02 PM</div>
        </td>
        <td>APP_URL_USAGE_(Exclusive_Half_Days)_3_6_2021_3_31_2021_csv</td>
        <td><fa-icon class="icon" [icon]="faFileArrowDown"></fa-icon></td>
      </tr>
      <tr>
        <td>
          22-07-2022
          <div class="time">16:02 PM</div>
        </td>
        <td>APP_URL_USAGE_3_6_2021_3_31_2021_csv</td>
        <td><fa-icon class="icon" [icon]="faFileArrowDown"></fa-icon></td>
      </tr>
      <tr>
        <td>
          22-07-2022
          <div class="time">16:02 PM</div>
        </td>
        <td>APP_URL_USAGE_(Exclusive_Half_Days)_3_6_2021_3_31_2021_csv</td>
        <td><fa-icon class="icon" [icon]="faFileArrowDown"></fa-icon></td>
      </tr>
      
    </tbody>
  </table>
  <hr class="hr" />
  <div class="last">
    <div class="pagination">
      <a href="#"><fa-icon [icon]="faBackwardStep"></fa-icon></a>
      <a href="#">Prev</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a><a href="#">5</a>
      <a href="#">Next</a>
      <a href="#"><fa-icon [icon]="faForwardStep"></fa-icon></a>
    </div>
    <div class="page">
      Rows Per Page
      <label for="">
        <select name="" id="">
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
          <option value="">4</option>
          <option value="">5</option>
          <option value="">6</option>
          <option value="">7</option>
          <option value="">8</option>
          <option value="">9</option>
          <option value="">10</option>
          <option value="">11</option>
          <option value="">12</option>
        </select>
      </label>
    </div>
  </div>
</div>
